<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Student List</title>
	</head>
	<body>
		<h1>Student List</h1>
		<nobr>
			<a th:href="@{/}">Back to Main Landing Page</a>
			<br></br>
			<a th:href="@{/api/v1/instructors}">Instructors Page</a>
		</nobr>
		<br></br>
		<div>
			<table border="1">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>DOB</th>
					<th>Age</th>
				</tr>
				<tr th:each="student : ${students}">
					<td th:utext="${student.id}">...</td>
					<td th:utext="${student.name}">...</td>
					<td th:utext="${student.email}">...</td>
					<td th:utext="${student.dob}">...</td>
					<td th:utext="${student.age}">...</td>
				</tr>
			</table>
		</div>
	</body>
</html>